<div class="sidenav"> <!--sidenav class referred to in base.html style-->
    <nav class="wrapper">
        <ul>
            <h1>WMGTSS</h1> 
            <a href="#">Module Info</a> <!--Links to other boards, dead because they actually exist-->
            <a href="#">Module Participants</a>
            <a href="/">QnA Board</a> <!--This link does work-->
            <a href="#">Quiz Board</a>
            <a href="#">Discussion Board</a>
            <a href="#">Feedback Board</a>
            <a href="#">Data File Board</a>
        </ul>
    </nav>
</div>