<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<head>
    <title>WMGTSS</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
</head>
<meta name="viewport" content="width=device-width,initial-scale=1">
<style>
    .answer{
        display: none;
    }
</style>
<script src=""></script>
<body>
{% include 'QnA/includes/header.html' %}
<h1>WMG TSS</h1>
{% include 'QnA/includes/sidebar.html' %}
{% block content %}{% endblock %} 
</body>
</html> 