{% extends "QnA/base.html" %}
{% block content %}
    <a href="/">Back to My Boards</a>
    <div>
        <h2>
            {{ board.name }}
        </h2>
    </div>
    <h3>Questions</h3>
    <ul>
        {% for question in board.get_all_questions %}
            {% if request.user.profile.profile_type == 'Tutor' or request.user.profile.profile_type == 'Student' and question.answered %}
                <h4>{{ question.title }}</h4>
                <p>Asked by {{ question.submitted_by.user.first_name }} {{ question.submitted_by.user.last_name }} at {{ question.submit_date }}</p>
                <p>{{ question.body }}</p>
                <p>{{ question.likes }} likes</p>
                {% if question.answered %}
                    <p>{{ question.answer.body }}</p>
                    <p>{{ question.answer.answered_by }} at {{ question.answer.answered_date }}</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </ul>
{% endblock content %}