{% extends "QnA/base.html" %}
{% block content %}
    {% if user.is_authenticated %}
        {% if request.user.profile.profile_type == 'Tutor' %}
            <a href="/create-board/">Create boards</a>
        {% endif %}
        <p>{{ user.username }}'s Boards</p>
        <ul>
            {% for board in boards %}
            <a href="{{ board.get_absolute_url }}"><li>{{ board.name }}</li></a>
            {% endfor %}
        </ul>
    {% else %}
        <p>You must be logged in to use this function!</p>
        <a href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock content %}